.services {
  max-width: 1500px;
  width: 100%;
  margin-top: 50px;
  text-align: start;
}
@media screen and (max-width: 900px) {
  .services {
    margin-top: 30px;
  }
}
.services__title {
  font-size: 28px;
}
@media screen and (max-width: 900px) {
  .services__title {
    font-size: 22px;
  }
}

.services__subtitle {
  font-size: 20px;
  line-height: 23px;
  margin-top: 30px;
}
@media screen and (max-width: 900px) {
  .services__subtitle {
    font-size: 18px;
    margin-top: 15px;
  }
}
.services__text {
  font-size: 17px;
  line-height: 24px;
  margin: 0;
  padding-bottom: 20px;
  border-bottom: 1.5px solid rgba(238, 159, 56);
}
@media screen and (max-width: 900px) {
  .services__text {
    font-size: 14px;
    line-height: 17px;
    margin-top: 15px;
  }
}

.services__text:last-child {
  border-bottom: none;
}
