.aboutCompany {
  max-width: 1500px;
  width: 100%;
  margin-top: 50px;
  padding-bottom: 20px;
}
@media screen and (max-width: 600px) {
  .aboutCompany {
    margin-top: 30px;
    padding-bottom: 0;
  }
}

.aboutCompany__text {
  float: left;
  width: 40vw;
  text-align: start;
  padding-left: 5px;
}

.aboutCompany__image-wrapp {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 11px;
  justify-content: center;
}

.aboutCompany__image {
  width: 180px;
  height: 240px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}
@media screen and (max-width: 625px) {
  .aboutCompany__image {
    width: 140px;
    height: 200px;
  }
}
@media screen and (max-width: 485px) {
  .aboutCompany__image {
    width: 240px;
    height: 120px;
  }
}
@media screen and (max-width: 391px) {
  .aboutCompany__image {
    width: 200px;
    height: 130px;
  }
}

.aboutCompany__title {
  font-size: 28px;
}
@media screen and (max-width: 625px) {
  .aboutCompany__title {
    font-size: 21px;
    text-align: center;
  }
}

.aboutCompany__subtitle {
  font-size: 17px;
  line-height: 23px;
  text-indent: 30px;
  text-align: start;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1.5px solid rgba(238, 159, 56);
}
.aboutCompany__subtitle:last-child {
  border-bottom: none;
}
@media screen and (max-width: 625px) {
  .aboutCompany__subtitle {
    font-size: 13px;
    line-height: 19px;
  }
}
@media screen and (max-width: 475px) {
  .aboutCompany__subtitle {
    text-indent: 15px;
  }
}