.App {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  align-items: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #ffffff;
}
/* @media screen and (max-width: 431px) {
  .App {
    max-width: 430px;
    width: 100%;
  }
} */
