.main {
  color: #000000;
  max-width: 1500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
@media screen and (max-width: 431px) {
  .main {
		max-width: 430px;
  width: 100%;
		margin-left: 0;
		margin-right: 0;
		
  }
}
@media screen and (max-width: 391px) {
  .main {
		max-width: 390px;
  width: 100%;
		
  }
}
.main__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  max-width: 1200px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 600px) {
  .main__title {
		font-size: 17px;
		line-height: 21px;
		max-width: 420px;
		border-radius: 5px;
  }
}
@media screen and (max-width: 431px) {
  .main__title {
		font-size: 15px;
		line-height: 18px;
		max-width: 385px;
  }
}