.delivery {
  
  max-width: 1500px;
  width: 100%;
  margin-top: 50px;
  /* margin: 0 auto; */
  text-align: start;
  /* background-color: #e7e1e1; */
}
.delivery__title {
	font-weight: 400;
  font-size: 28px;
}

.delivery__paragraf {
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  border-bottom: 1.5px solid rgba(238, 159, 56);
  padding-bottom: 20px;
  margin-top: 30px;
}

.delivery__bank-log {
  max-width: 180px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.delivery__img {
  width: 30px;
  height: 30px;
}

.delivery__transcompany {
  display: flex;
  justify-content: space-between;
  width: 100%;
  object-fit: cover;
  margin-top: 40px;
}
.delivery__transcompany-log {
  max-width: 220px;
  height: 45px;
}

.delivery__title-pay {
	font-weight: 400;
  font-size: 28px;
  margin-top: 50px;
}

.delivery__subtitle-pay {
  margin-top: 30px;
}
