.header__wrapper {
  max-width: 1500px;
  width: 100%;
  min-height: 55px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: 1.5px solid rgba(238, 159, 56);
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
@media screen and (max-width: 431px) {
  .header__wrapper {
    max-width: 430px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.header {
  max-width: 1500px;
  width: 100%;
  min-height: 55px;
  height: 100%;
  color: #777777;
  display: flex;
  justify-content: space-between;
  flex: 1 1 auto;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 1084px) {
  .header {
    justify-content: center;
  }
}
@media screen and (max-width: 740px) {
  .header {
    justify-content: center;
  }
}
@media screen and (max-width: 475px) {
  .header {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 391px) {
  .header {
    max-width: 385px;
    width: 100%;
  }
}

.header__menu-block {
  display: flex;
  align-items: center;
  gap: 100px;
}
@media screen and (max-width: 745px) {
  .header__menu-block {
    gap: 40px;
  }
}
@media screen and (max-width: 660px) {
  .header__menu-block {
    flex-direction: column;
    gap: 0;
  }
}

.header__logo-wrapper {
  width: 160px;
  height: 53px;
}

.header__logo {
  width: 160px;
  height: 53px;
  transition: opacity 0.6s;
}
.header__logo:hover {
  opacity: 0.6;
}

.header__menu {
  max-width: 800px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media screen and (max-width: 1220px) {
  .header__menu {
    max-width: 500px;
    width: 100%;
  }
}
@media screen and (max-width: 860px) {
  .header__menu {
    align-items: center;
  }
}
@media screen and (max-width: 740px) {
  .header__menu {
    display: flex;
    max-width: 700px;
    width: 100%;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 475px) {
  .header__menu {
    position: fixed;
    top: 0;
    left: -225px;
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 100%;
    background-color: #fff;
    border: 2px solid rgba(238, 159, 56);
    z-index: 6;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    box-shadow: 0 0 4px rgba(238, 159, 56);
    transition: transform 0.3s linear;
  }
}

.header__nav.active {
  transform: translate(100%);
}

.header__nav-list {
}
@media screen and (max-width: 475px) {
  .header__nav-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: start;
    padding-top: 40px;
  }
}

.header__nav-item {
  text-decoration: none;
  font-size: 15px;
  line-height: 18px;
  padding: 10px;
  color: #000000;
  transition: color 0.2s linear;
}
@media screen and (max-width: 475px) {
  .header__nav-item {
    max-width: 107px;
    padding: 8px;
    padding-left: 0;
    margin: 10px 0;
    /* font-weight: 500; */
  }
}
@media screen and (max-width: 320px) {
  .header__nav-item {
    font-size: 10.8px;
  }
}
.header__nav-item:hover {
  color: rgba(249, 62, 160, 1);
  transition: color 0.2s linear;
}
.header__nav-item.active {
  color: rgba(249, 62, 160, 1);
}

.header__call-mail-wrapper {
  min-height: 54px;
  height: 100%;
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 815px) {
  .header__call-mail-wrapper {
    left: auto;
  }
}
@media screen and (max-width: 380px) {
  .header__call-mail-wrapper {
    padding-top: 30px;
  }
}

.header__call-mail-block {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.header__connection {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  text-decoration: none;
  position: relative;
  transition: color 0.2s linear;
}
.header__connection:hover {
  color: rgba(249, 62, 160, 1);
  transition: color 0.1s linear;
}

.header__contact {
  width: 23px;
  height: 23px;
  margin-right: 7px;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}
