.footer {
  max-width: 1500px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: auto;
  padding-top: 10px;
  color: #000000;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 10px;
	/* margin-left: 5px;
	margin-right: 5px; */
  border-top: 1.5px solid rgba(238, 159, 56);
}
@media screen and (max-width: 431px) {
  .footer {
    max-width: 429px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.footer__block {
  max-width: 1500px;
  width: 100%;
  max-height: 80px;
  margin-bottom: 3px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.footer__block-log {
  max-width: 150px;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
/* @media screen and (max-width: 431px) {
  .footer__block-log {
    margin-left: 4px;
  }
} */

.footer__log {
  width: 135px;
  height: 50px;
	object-fit: fill;
  /* vertical-align: middle; */

}
@media screen and (max-width: 431px) {
  .footer__log {
    width: 100px;
    height: 35px;
  }
}

.footer__copyright {
  font-weight: 13px;
  font-size: 15px;
  margin-top: 8px;
  margin-bottom: 0;
}

.footer__map {
  max-width: 400px;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 431px) {
  .footer__map {
    max-width: 270px;
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .footer__map {
    max-width: 170px;
    width: 100%;
  }
}

.footer__maps {
  width: 30px;
  height: 30px;
}
@media screen and (max-width: 431px) {
  .footer__maps {
    width: 23px;
    height: 23px;
  }
}
@media screen and (max-width: 320px) {
  .footer__maps {
    width: 15px;
    height: 15px;
  }
}

.footer__map-title {
  font-size: 15px;
  height: 30px;
  text-align: start;
  margin: 0;
}
@media screen and (max-width: 431px) {
  .footer__map-title {
    max-width: 180px;
    font-size: 14px;
  }
}
@media screen and (max-width: 320px) {
  .footer__map-title {
    font-size: 12px;
  }
}

.footer__addres {
  display: flex;
  justify-content: space-around;
  max-width: 400px;
  width: 100%;
  max-height: 50px;
}
@media screen and (max-width: 431px) {
  .footer__addres {
    max-width: 260px;
    width: 100%;
  }
}

.footer__maps-addres {
  margin-top: 0;
  margin-left: 10px;
  margin-bottom: 0;
  text-align: start;
  font-weight: 8px;
  font-size: 11px;
}
@media screen and (max-width: 431px) {
  .footer__maps-addres {
    max-width: 120px;
    width: 100%;
    margin-left: 6px;
    font-size: 9px;
  }
}
@media screen and (max-width: 320px) {
  .footer__maps-addres {
    max-width: 55px;
    width: 100%;
    margin-left: 6px;
    font-size: 7.6px;
  }
}
