.footer {
  max-width: 1500px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: auto;
  padding-top: 10px;
  color: #000000;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  border-top: 1.5px solid rgba(238, 159, 56);
}
@media screen and (max-width: 431px) {
  .footer {
    max-width: 429px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.footer__block {
  max-width: 1500px;
  width: 100%;
  margin-bottom: 3px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
@media screen and (max-width: 475px) {
  .footer__block {
    flex-direction: column;
    justify-content: center;
  }
}

.footer__block-log {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  align-self: flex-start;
  flex-wrap: nowrap;
}
@media screen and (max-width: 475px) {
  .footer__block-log {
    align-items: center;
  }
}

.footer__log {
  height: 40px;
  object-fit: fill;
}
@media screen and (max-width: 431px) {
  .footer__log {
    width: 100px;
    height: 35px;
  }
}

.footer__copyright {
  font-weight: 13px;
  font-size: 15px;
  margin-top: 8px;
  margin-bottom: 0;
}

.footer__map {
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 475px) {
  .footer__map {
    max-width: 270px;
    width: 100%;
    align-items: center;
  }
}
@media screen and (max-width: 320px) {
  .footer__map {
    max-width: 170px;
    width: 100%;
  }
}

.footer__maps {
  width: 30px;
  height: 30px;
}

.footer__map-title {
  font-size: 15px;
  text-align: start;
  margin: 0;
  padding-left: 4px;
}
@media screen and (max-width: 475px) {
  .footer__map-title {
    margin: 20px 0;
    padding: 0;
  }
}

@media screen and (max-width: 320px) {
  .footer__map-title {
    font-size: 12px;
  }
}

.footer__addres {
  display: flex;
  justify-content: start;
  max-width: 400px;
  width: 100%;
	align-items: center;
}
@media screen and (max-width: 475px) {
  .footer__addres {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
}
@media screen and (max-width: 431px) {
  .footer__addres {
    max-width: 260px;
    width: 100%;
  }
}

.footer__maps-addres {
  margin-top: 0;
  margin-left: 10px;
  margin-bottom: 0;
  text-align: start;
  font-weight: 8px;
  font-size: 13px;
}
@media screen and (max-width: 475px) {
  .footer__maps-addres {
    max-width: 120px;
    width: 100%;
    margin: 0;
    text-align: center;
  }
}
