.slider__wrapper {
  max-width: 1500px;
  width: 100%;
  height: 422px;
  margin-bottom: 50px;
}
@media screen and (max-width: 1200px) {
  .slider__wrapper {
    max-width: 1000px;
    height: 400px;
  }
}
@media screen and (max-width: 900px) {
  .slider__wrapper {
    max-width: 700px;
    height: 250px;
  }
}
@media screen and (max-width: 470px) {
  .slider__wrapper {
    max-width: 390px;
    height: 150px;
  }
}
@media screen and (max-width: 320px) {
  .slider__wrapper {
    max-width: 340px;
    height: 130px;
  }
}

.carousel-indicators {
  width: 100%;
  position: absolute;
  z-index: 90;
  top: 90%;
  margin: 0;
}

.slider__img {
  width: 100%;
  height: 422px;
  border-radius: 15px;
  object-fit: fill;
  object-position: bottom;
  overflow: hidden;
}
@media screen and (max-width: 1200px) {
  .slider__img {
    max-width: 1000px;
    height: 400px;
  }
}
@media screen and (max-width: 900px) {
  .slider__img {
    max-width: 700px;
    height: 250px;
  }
}
@media screen and (max-width: 470px) {
  .slider__img {
    max-width: 390px;
    height: 150px;
  }
}
@media screen and (max-width: 320px) {
  .slider__img {
    max-width: 340px;
    height: 130px;
  }
}

.carousel-control-prev {
  width: 5%;
}

.carousel-control-next {
  width: 5%;
}
